body{
    background: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)), url(images/the-great-snake-view-buildings-ocean-wallpaper-preview.jpg) center/cover no-repeat fixed;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}

#thanks{
    font-style: italic;
    font-size: 1.3rem;
    margin-top: -1%;
}

.questions{
    width: 50vw;
    min-width: 500px;
    height: 250vh;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 5%;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 2%;
}

#cRole{
    width: 104.7%;
}

input[type="radio"] {
    accent-color: #0000;
}

input[type="checkbox"] {
    accent-color: #0000;
}

input[type="submit"] {
    background-color: rgb(119, 0, 255);
    color: #ffff;
    width: 104.7%;
    transition: all 0.3s;
}

input[type="submit"]:hover{
    background-color: rgb(64, 0, 107);
}

